.client-list-layout {
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px;
    background-color: #fff;
    animation: anim 0.3s ease-out;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 5px 5px rgba(173, 173, 173, 0.2);
    //min-height: 87%;

    .ant-checkbox-inner:after {
        left: 30%;
    }

    .add-client {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .custom-default-btn {
            margin-top: 10px;

            .ant-btn {
                box-shadow: none;

                &:hover {
                    background: $background-color;
                    color: black;
                }
            }

            .anticon {
                font-size: 20px;
            }
        }
    }

    .client-table {
        width: 100%;

        .custom-popover {
            width: 20%;
        }

        .ant-table-thead {
            .ant-table-cell {
                pointer-events: none;
            }
        }

        .custom-table-row {
            height: auto;

            .ant-table-cell {
                height: auto;
            }
        }

        .ant-table-column-sorter-down.active,
        .ant-table-column-sorter-up.active {
            color: $primary-color;
        }

        .ant-table-column-sorters {
            span {
                font-size: 18px;

                .anticon {
                    font-size: 12px;
                }
            }
        }

        .custom-select {
            margin-top: -3px;
        }

        .custom-input {
            max-width: 350px;
        }

        .user-name-col {
            font-size: 18px;
            font-weight: 500;
            color: $primary-color;
            margin-bottom: 0px;
        }

        .info-col {
            display: flex;
            align-items: center;

            .anticon {
                font-size: 20px;
            }

            .col-text {
                font-weight: 500;
                font-size: 16px;
                padding-left: 15px;
                margin-bottom: 0px;
            }
        }

        .table-actions {
            display: flex;
            justify-content: space-around;

            .ant-btn {
                border: none;
                background: inherit;
                box-shadow: none;
            }

            .anticon {
                font-size: 26px;
                color: $primary-color;
            }
        }
    }
}

.clients-management-list {
    .custom-table-row:hover {
        cursor: pointer;
        
        .col-text, .anticon  {
            color: $focus-color;
        }

        .delete-btn {
            .col-text, .anticon  {
                color: initial;
            }
        }
    }
}

.table-top {
    .add-client-btn {
        margin-right: 40px;

        .custom-primary-btn {
            .ant-btn {
                width: 40px;
            }

            .anticon {
                font-size: 22px;
            }
        }
    }
}

.create-edit-client-layout {
    border-radius: 10px;
    margin-top: 15px;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fff;
    animation: anim 0.3s ease-out;
    display: flex;
    flex-direction: column;
    min-height: 87%;

    .custom-divider {
        width: 106%;
        margin-left: -3%;
        height: 2px;
        background: #dedede;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .billing-address-enter {
        opacity: 0;
        transform: scale(0.9);
    }

    .billing-address-enter-active {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 400ms, transform 400ms;
    }

    .billing-address-exit {
        opacity: 1;
    }

    .billing-address-exit-active {
        opacity: 0;
        transform: scale(0.9);
        transition: opacity 400ms, transform 400ms;
    }

    .client-details,
    .billing-details,
    .employee-details {
        justify-content: space-between;
    }

    .single-row-input {
        height: 61px;
        margin-top: 0.7%;
    }

    h2 {
        font-size: 18px;
        margin-top: 1%;
    }

    .custom-input,
    .custom-select {
        width: 28.5%;
    }

    .custom-checkbox {
        height: 61px;
        display: flex;

        .ant-checkbox-inner {
            height: 25px;
            width: 25px;
            border: 2px solid $primary-color;

            &:active,
            &:hover {
                border-color: inherit;
            }
        }

        .ant-checkbox-checked .ant-checkbox-inner {
            background-color: $primary-color;
        }

        .ant-checkbox-inner:after {
            left: 30%;
        }

        .ant-checkbox-wrapper:hover,
        .ant-checkbox-wrapper:focus {
            border-color: $primary-color;
        }

        .ant-checkbox-wrapper {
            align-items: center;

            span {
                font-size: 14px;
            }
        }

        .ant-checkbox {
            top: 0px;
        }
    }

    .input-custom-row {
        margin-top: 0.7%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .empty-div {
        width: 28.5%;
    }

    .custom-default-btn {
        .ant-btn {
            box-shadow: none;

            &:hover {
                background: $background-color;
                color: black;
            }
        }

        .anticon {
            font-size: 20px;
        }
    }

    .add-client-btn {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .ant-btn > span {
            margin-left: 10px;
            margin-right: 10px;
        }

        .custom-primary-btn .ant-btn {
            height: 45px;
        }

        .custom-default-btn .ant-btn {
            margin-right: 10px;
            box-shadow: none;
            height: 45px;
        }
    }
}
